@media (min-width: 1400px) {
  .monthly_top_filter2 {
    margin-bottom: 20px;
  }

  /* 404 PAGE START */

  .dashboard_content .wsus__invoice_description .name {
    width: 35%;
  }

  .dashboard_content .wsus__invoice_description .total {
    width: 20%;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .add_address_btn {
    margin-top: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {
  .wsus__icon_area li {
    margin-left: 5px;
  }

  .wsus__call {
    font-size: 30px;
    padding-top: 6px;
  }

  .wsus__call_text a {
    font-size: 14px;
  }

  .monthly_top_filter button:last-child {
    margin-right: 0;
  }

  .monthly_top_filter2 {
    margin-bottom: 20px;
  }

  .wsus__footer_social {
    margin-top: 15px;
  }

  .grid .wsus__hot_deals__single_img {
    width: 30%;
  }

  .grid .wsus__hot_deals__single_text {
    width: 70%;
  }

  .wsus__hot_deals__single_text {
    margin-top: 0px;
  }

  .wsus__hot_deals__single_text h5 {
    font-size: 14px;
  }

  .wsus__hot_deals__single_text .wsus__tk {
    font-size: 14px;
  }

  .monthly_top_filter2 {
    margin-bottom: 20px;
  }

  .monthly_top_filter button:last-child {
    margin-right: 0;
  }

  .wsus__home_services_single h5 {
    font-size: 15px;
  }

  .wsus__home_services_single {
    padding: 25px;
  }

  .wsus__blog_img {
    height: 230px;
  }

  .product_popup_modal .display {
    margin-top: 0px !important;
  }

  /* PRODUCT DETAILS START */

  .wsus_pro_det_sidebar {
    padding: 10px;
  }

  .wsus__pro_det_vendor_text p span {
    width: 18%;
    font-size: 14px;
  }

  .wsus__pro_det_vendor_text p {
    font-size: 14px;
  }

  .wsus__pro_det_vendor_text .rating {
    margin: 5px 0px 15px 0px;
  }

  /* VENDOR DETAILS START */
  .wsus__pro_page_bammer.vendor_det_banner {
    height: 350px;
  }

  .wsus__vendor_det_banner_text {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(2px);
  }

  .wsus__vendor_det_banner_text .wsus__vendor_text_center {
    width: 40%;
  }

  /* ABOUT PAGE START */

  /* 404 PAGE START */

  /* CART VIEW PAGE START */

  .wsus__cart_list .wsus__pro_img {
    width: 150px;
  }

  .wsus__cart_list .wsus__pro_name {
    margin-bottom: 0px;
  }

  .wsus__cart_list table tbody tr td p {
    font-size: 15px;
  }

  .wsus__cart_list .wsus__pro_select {
    width: 160px !important;
  }

  .wsus__cart_list .wsus__pro_icon {
    width: 139px;
  }

  /* CHECK-OUT PAGE START */

  /* COMPARE PAGE START */

  /* DAILE DEALS DETAILS */

  /* DAILE DEALS DETAILS */

  /* FAQ PAGE START */

  /* INVOICE PAGE START */
  .wsus__invoice_description .amount,
  .wsus__invoice_description .quentity,
  .wsus__invoice_description .total {
    width: 15% !important;
  }

  /* TEAM DETAILS START */

  /* TRACK ORDER START */
  .progtrckr {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }

  .progtrckr li {
    margin-bottom: 50px;
  }

  /* WISHLIST PAGE START */
  .wishlist .common_btn {
    font-size: 14px;
  }

  .wishlist .wsus__pro_icon {
    width: 169px !important;
  }

  /* DASHBOARD START */
  .dashboard_sidebar {
    width: 22%;
  }

  .wsus__dashboard_item i {
    font-size: 24px;
    margin: 0;
  }

  .wsus__dashboard_item p {
    font-size: 14px;
  }

  .dashboard_content .wsus__invoice_description .name {
    width: 45%;
  }

  .dashboard_content .wsus__invoice_description .amount,
  .dashboard_content .wsus__invoice_description .quentity,
  .dashboard_content .wsus__invoice_description .total {
    width: 117px;
  }

  .dashboard_content .wsus__invoice_area {
    padding: 20px;
  }

  #wsus__dashboard .wsus__pro_img {
    width: 120px;
  }

  #wsus__dashboard .wsus__pro_tk {
    width: 100px;
  }

  #wsus__dashboard .wsus__pro_name {
    width: 280px;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .add_address_btn {
    margin-top: 0;
  }

  .wsus__dash_add_single ul li span {
    width: 35%;
  }

  .home_2 header .wsus__icon_area li {
    margin-left: 5px;
  }

  .home_2 header .wsus__call_area {
    margin-right: 5px;
  }

  .home_service_single_2 {
    padding: 50px 20px 0px 10px !important;
  }

  .home_service_single_2 p {
    font-size: 16px;
  }

  .wsus__single_blog_2 .wsus__blog_text_center a {
    font-size: 21px;
  }
}

@media (min-width: 992px) and (max-width: 1199.99px) {
  .wsus__header_logo {
    width: 90%;
  }

  .wsus__icon_area li {
    margin-left: 0px;
  }

  .wsus__search {
    padding-right: 0;
  }

  .wsus__call_area {
    padding-left: 20px;
  }

  .wsus__call i {
    font-size: 30px;
    margin-top: 12px;
  }

  .wsus__call_text a {
    font-size: 14px;
  }

  .wsus_menu_category p {
    font-size: 14px;
  }

  .wsus_menu_category {
    padding: 0px 15px;
    height: 98.5%;
  }

  .wsus__menu_item li {
    margin-left: 20px;
  }

  .wsus__menu_item li {
    font-size: 14px;
  }

  .wsus__menu_item li a {
    font-size: 14px;
    padding: 0;
  }

  .wsus_menu_cat_item li a {
    padding: 0px 13px;
  }

  .wsus__large_banner_text h3 {
    font-size: 25px;
  }

  .wsus__large_banner_text h5 {
    font-size: 25px;
  }

  .wsus__footer_social {
    margin-top: 10px;
  }

  .wsus__footer_content p {
    margin: 5px 0px 5px 0px;
  }

  .wsus__section_header h3 {
    font-size: 20px;
  }

  .wsus_menu_category_bar p {
    font-size: 13px;
  }

  .wsus__hot_deals__single_text {
    width: 70% !important;
    padding-left: 15px !important;
    margin-top: 0;
  }

  .wsus__hot_deals__single_text .wsus__tk {
    font-size: 15px;
  }

  .wsus__hot_deals__single_img {
    width: 30%;
    float: left;
  }

  .wsus__home_services_single {
    padding: 20px 10px 10px 10px;
  }

  .wsus__home_services_single h5 {
    font-size: 15px;
  }

  .monthly_top_filter button,
  .monthly_top_filter2 button {
    margin: 0px 7px;
  }

  .monthly_top_filter button:last-child {
    margin-right: 0;
  }

  .grid .wsus__hot_deals__single_img {
    width: 30%;
  }

  .monthly_top_filter,
  .monthly_top_filter2 {
    margin-bottom: 20px;
  }

  .wsus__blog_img {
    height: 210px;
  }

  .product_popup_modal .modal-dialog {
    min-width: 900px;
  }

  .product_popup_modal .modal-body {
    height: 460px;
  }

  .wsus__pro_details_text .description {
    font-size: 15px;
  }

  .wsus__mini_cart ul {
    max-height: 450px;
  }

  /* PRODUCT DETAILS START */
  .wsus_pro_det_sidebar {
    overflow: hidden;
    margin-top: 70px;
  }

  .lg_area {
    width: 50%;
    float: left;
    padding-right: 25px;
  }

  .description_single {
    padding: 20px;
  }

  .description_single p {
    font-size: 16px;
  }

  .wsus__pro_det_vendor_text .rating {
    margin: 5px 0px 15px 0px;
  }

  .wsus__pro_det_vendor_text p {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .wsus__pro_det_vendor_text p span {
    width: 19%;
    font-size: 13px;
  }

  .wsus__pro_det_vendor_text .rating span {
    font-size: 13px;
  }

  .wsus__comment_img {
    width: 15% !important;
  }

  .wsus__comment_text {
    width: 85% !important;
  }

  /* PRODUCT GRID VIEW START */

  .wsus__list_view .wsus__product_details {
    width: 55%;
  }

  .wsus__list_view .wsus__pro_link {
    width: 45%;
  }

  .wsus__list_view .wsus__product_details .wsus__pro_name {
    font-size: 20px;
  }

  .list_description {
    font-size: 14px;
  }

  /* VENDOR DETAILS START */
  .wsus__pro_page_bammer.vendor_det_banner {
    height: 370px;
  }

  .wsus__vendor_det_banner_text {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(2px);
  }

  .wsus__vendor_det_banner_text .wsus__vendor_text_center {
    width: 50%;
  }

  /* ABOUT PAGE START */

  /* 404 PAGE START */

  /* CART VIEW PAGE START */

  .wsus__cart_list table tr th {
    font-size: 14px;
  }

  .wsus__cart_list .wsus__pro_img {
    width: 130px !important;
  }

  .wsus__cart_list .wsus__pro_name {
    width: 265px;
  }

  .wsus__cart_list .wsus__pro_name {
    margin-bottom: 0px;
  }

  .wsus__cart_list table tbody tr td p {
    font-size: 15px;
  }

  .wsus__cart_list .wsus__pro_select {
    width: 140px !important;
  }

  .wsus__cart_list .wsus__pro_tk {
    width: 130px;
  }

  .wsus__cart_list .wsus__pro_icon {
    width: 120px;
  }

  /* CHECK-OUT PAGE START */

  /* COMPARE PAGE START */

  /* DAILY DEALS DETAILS START */

  .wsus__offer_countdown {
    padding-bottom: 3px;
  }

  /* DAILY DEALS START */

  /* FAQ PAGE START */

  /* FORGET PASSWORD START */
  .wsus__forget_area p {
    text-align: center;
  }

  /* INVOICE PAGE START */
  .wsus__invoice_description .amount,
  .wsus__invoice_description .quentity,
  .wsus__invoice_description .total {
    width: 120px;
  }

  /* PAYMENT PAGE START */
  .wsus__pay_info_area .nav-pills .nav-link {
    font-size: 12px;
  }

  /* INVOICE START */
  .wsus__invoice_description .name {
    width: 365px;
  }

  /* TRACK ORDER START */
  .progtrckr {
    display: flex;
    justify-content: space-between;
  }

  .progtrckr li {
    font-size: 14px;
  }

  .wsus__track_header_single h5 {
    font-size: 15px;
  }

  .wsus__track_header_single p {
    font-size: 14px;
  }

  .wsus__track_header_single {
    text-align: center;
  }

  .wsus__track_area .common_btn {
    margin-top: 15px;
  }

  /* VENDOR PAGE START */
  .wsus__vendor_single {
    height: 250px;
  }

  /* WISHLIST PAGE START */
  .wishlist .wsus__pro_img a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }

  .wishlist .common_btn {
    font-size: 12px;
  }

  /* DASHBOARD START */
  .dashboard_sidebar {
    width: 22%;
  }

  .dashboard_content .wsus__invoice_area.wsus__invoice_area {
    padding: 15px;
  }

  .dashboard_content .wsus__invoice_description .name {
    width: 332px;
  }

  .wsus__dash_add_single ul li span {
    width: 25%;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .add_address_btn {
    margin-top: 0;
  }

  .home_2 header .wsus__icon_area li {
    margin-left: 0px;
  }

  .home_2 header .wsus__call_area {
    padding-left: 0;
  }

  .home_service_single_2 {
    padding: 50px 20px 0px 10px;
  }

  .home_service_single_2.border_left {
    border-left: none;
  }

  .home_2 #wsus__banner .col-xl-5.ps-lg-0 .col-xl-12.col-sm-6 {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .wsus__pop_up_text form .common_btn {
    right: 0px;
  }

  /* TOPBAR START */
  #wsus__topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  /* HEADER SRART */
  header {
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border: none;
  }

  .wsus_logo_area {
    text-align: center;
  }

  .wsus__header_logo {
    width: 120px;
    line-height: 60px;
    margin-left: 15px;
  }

  .wsus__call_area {
    display: none;
  }

  .wsus__icon_area {
    width: 100%;
  }

  .wsus__mobile_menu {
    display: block;
  }

  .wsus__icon_area li {
    margin-left: 0;
  }

  .wsus__icon_area li a {
    margin-top: 12px;
  }

  .wsus__mini_cart .wsus__cart_img {
    width: 80px;
    height: 75px;
  }

  .wsus__mini_cart .wsus__cart_text {
    margin-left: 10px;
  }

  .wsus__mini_cart .wsus__cart_text a {
    font-size: 13px;
    margin-top: 0px;
  }

  .wsus__mini_cart .wsus__cart_text p {
    margin-top: 5px;
  }

  #wsus__mobile_menu {
    width: 40%;
  }

  /* BANNER START */
  #wsus__banner {
    margin-top: 125px;
  }

  #wsus__single_banner {
    padding-top: 40px;
  }

  .wsus__single_banner_content {
    margin-top: 30px;
  }

  .wsus__section_header h3 {
    font-size: 20px;
  }

  .monthly_top_filter,
  .monthly_top_filter2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .wsus__hot_deals__single_img {
    width: 30% !important;
  }

  .wsus__hot_deals__single_text {
    width: 70% !important;
    float: left;
    padding-left: 15px !important;
  }

  .wsus__blog_img {
    height: 220px;
  }

  .wsus__section_header ul li a {
    font-size: 14px;
  }

  .wsus__section_header ul li {
    margin-left: 15px;
  }

  .wsus__large_banner_text p {
    font-size: 15px;
  }

  .wsus__large_banner_text h3 {
    font-size: 25px;
  }

  .for_md {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
  }

  .for_md h3 {
    margin-bottom: 10px;
  }

  .grid2 .wsus__product_item .wsus__pro_link {
    height: 200px;
  }

  .grid2 .wsus__product_details .wsus__pro_name {
    font-size: 14px;
  }

  .wsus__large_banner_content_overlay {
    padding: 30px;
  }

  .wsus__flash_coundown {
    justify-content: center;
    padding: 20px 10px;
    flex-direction: column;
  }

  .wsus__flash_coundown .end_text {
    margin-right: 0;
    margin-bottom: 15px;
  }

  #countdown17 {
    margin-bottom: 10px;
  }

  #wsus__weekly_best {
    margin-top: 0;
  }

  #wsus__weekly_best .wsus__section_header {
    margin-top: 65px;
  }

  .wsus__home_services_single {
    margin-bottom: 25px;
  }

  .home_blogs {
    margin-top: 0;
  }

  .wsus__footer_content img {
    width: 140px;
  }

  .wsus__footer_social {
    margin-top: 15px;
  }

  .wsus__footer_content h5 {
    margin-bottom: 10px;
  }

  .wsus__footer_content {
    margin-bottom: 40px;
  }

  .wsus__footer_bottom {
    margin-top: 25px;
  }

  .wsus__copyright p {
    font-size: 14px;
  }

  .wsus__copyright p img {
    width: 120px;
    margin-left: 10px;
  }

  .wsus__pop_up_center {
    width: 90%;
    padding: 55px;
  }

  .wsus__pop_up_text {
    width: 65%;
  }

  .product_popup_modal .modal-dialog {
    min-width: 600px;
  }

  .product_popup_modal .modal-body {
    height: 600px;
    padding-left: 17px;
  }

  .wsus__quick_view_img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 15px;
  }

  .wsus__pro_details_text .title {
    font-size: 20px;
    width: 92%;
  }

  .wsus__mini_cart ul {
    height: 450px;
  }

  /* BREADCRUMB START */
  #wsus__breadcrumb {
    margin-top: 60px;
  }

  .wsus_breadcrumb_overlay {
    padding: 60px 0px;
  }

  #wsus__breadcrumb h4 {
    font-size: 35px;
  }

  #wsus__breadcrumb ul {
    margin-top: 10px;
  }

  /* PRODUCT DETAILS START */
  .wsus__pro_det_description .nav .nav-item button {
    font-size: 14px;
  }

  .description_single {
    padding: 10px;
  }

  .description_single p {
    font-size: 13px;
  }

  .description_single h6 {
    font-size: 14px;
  }

  .wsus__pro_det_vendor_text p span {
    width: auto;
    font-size: 13px;
    margin-right: 5px;
  }

  .wsus__pro_det_vendor_text p {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .wsus__pro_det_vendor_text .rating {
    margin: 0px 0px 5px 0px;
  }

  .wsus__pro_det_vendor_text h4 {
    margin-bottom: 10px;
  }

  .wsus_pro_det_sidebar {
    margin-top: 25px;
    overflow: hidden;
  }

  .lg_area {
    width: 50%;
    padding-right: 25px;
    float: left;
  }

  .report_modal .modal-body {
    height: 535px;
    padding-left: 17px;
  }

  /* PRODUCT GRID VIEW START */
  .wsus__sidebar_filter {
    display: flex;
  }

  .wsus__product_sidebar.show_filter {
    margin-top: 25px;
  }

  .wsus__product_sidebar {
    height: 0;
    opacity: 0;
  }

  .wsus__pro_page_bammer {
    height: 200px;
  }

  .wsus__list_view .wsus__product_details .wsus__pro_name {
    font-size: 20px;
  }

  /* VENDOR DETAILS START */
  .vendor_det_banner {
    height: 370px !important;
  }

  .wsus__vendor_det_banner_text .wsus__vendor_text_center {
    width: 50%;
  }

  .wsus__vendor_det_banner_text {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(2px);
  }

  /* ABOUT PAGE START */

  /* BLOG DETAILS START */
  .wsus__blog_sidebar {
    margin-top: 30px;
  }

  .wsus__blog_post_img {
    width: 15%;
  }

  .wsus__blog_post_text {
    width: 85%;
    padding-left: 10px;
    margin-top: 25px;
  }

  .calendar header {
    top: 0;
  }

  /* 404 PAGE START */

  /* CART VIEW PAGE START */

  .wsus__cart_list table tr th {
    font-size: 14px;
  }

  .wsus__cart_list .wsus__pro_img {
    width: 100px !important;
  }

  .wsus__cart_list .wsus__pro_name {
    margin-bottom: 0px;
  }

  .wsus__cart_list table tbody tr td p {
    font-size: 15px;
  }

  .wsus__cart_list .wsus__pro_select {
    width: 180px;
  }

  .wsus__cart_list .wsus__pro_tk {
    width: 130px;
  }

  .wsus__cart_list .wsus__pro_icon {
    width: 120px;
  }

  .wsus__cart_list_footer_button {
    margin-top: 30px;
  }

  /* CHECK-OUT PAGE START */

  /* COMPARE PAGE START */

  /* CONTACT PAGE START */
  .wsus__contact_single h5 {
    font-size: 16px;
  }

  .wsus__contact_single {
    margin-bottom: 5px;
  }

  #wsus__contact hr {
    margin: 50px 0px 57px 0px;
  }

  /* DAILE DEALS DETAILS */

  .wsus__offer_countdown {
    padding-bottom: 5px;
  }

  .wsus__offer_countdown .simply-amount {
    font-size: 12px;
    line-height: 27px;
  }

  /* FAQ PAGE START */

  /* FORGET PASSWORD START */
  .wsus__forget_area {
    padding: 15px;
  }

  .wsus__forget_area .see_btn {
    margin-bottom: 0 !important;
    font-size: 16px !important;
  }

  /* INVOICE PAGE START */
  .wsus__invoice_area {
    padding: 20px;
  }

  .wsus__invoice_description {
    margin-top: 55px;
  }

  .wsus__invoice_description .images {
    width: 115px;
  }

  .wsus__invoice_description .name {
    width: 300px;
  }

  .wsus__invoice_description .amount {
    width: 130px;
  }

  .wsus__invoice_description .quentity {
    width: 130px;
  }

  .wsus__invoice_description .total {
    width: 130px;
  }

  /* LOGIN PAGE START */
  .wsus__login_reg_area {
    padding: 15px;
  }

  /* PAYMENT PAGE START */
  #v-pills-tab {
    flex-direction: inherit !important;
    justify-content: space-between;
  }

  .wsus__pay_info_area .nav-pills .nav-link {
    width: 24%;
    font-size: 12px;
  }

  #v-pills-tabContent {
    margin-bottom: 30px;
  }

  /* TEAM DETAILS START */

  /* TRACK ORDER START */
  .wsus__track_header_single {
    margin-top: 20px;
    border: 0;
  }

  .progtrckr li {
    margin-bottom: 45px;
    font-size: 14px;
  }

  .progtrckr {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wsus__track_area .common_btn {
    width: 100%;
    text-align: center;
  }

  .wsus__track_header_single h5 {
    font-size: 16px;
  }

  .wsus__track_header_single p {
    font-size: 14px;
  }

  /* VENDOR PAGE START */
  .wsus__vendor_single {
    height: 250px;
  }

  /* WISHLIST PAGE START */
  .wishlist .wsus__pro_img a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }

  .wishlist .common_btn {
    font-size: 12px;
  }

  /* DASHBOARD PAGE START */
  .dashboard_sidebar {
    width: 270px;
    margin-left: -270px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
  }

  .close_icon {
    display: block;
  }

  .dashboard_sidebar.show_dash_menu {
    margin-left: 0;
  }

  .wsusd__dashboard_user img {
    width: 35px;
    height: 35px;
  }

  .wsusd__dashboard_user p {
    font-size: 16px;
  }

  .wsus__dashboard_menu {
    padding: 2.5px 20px;
  }

  #wsus__dashboard {
    padding: 40px 0px 10px 0px;
  }

  .wsus__dashboard_item p {
    font-size: 13px;
  }

  .wsus__dashboard_item i {
    font-size: 22px;
    margin: 0;
  }

  .wsus__dashboard_item {
    padding: 10px;
  }

  .dashboard_content .wsus__invoice_area {
    margin-top: 0px;
  }

  .dashboard_content .wsus__invoice_description .name {
    width: 350px;
  }

  .dashboard_content .wsus__invoice_description .amount {
    width: 160px;
  }

  .dashboard_content .wsus__invoice_description .quentity {
    width: 160px;
  }

  .dashboard_content .wsus__invoice_description .total {
    width: 141px;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .add_address_btn {
    margin: 0;
  }

  .wsus__dash_add_single ul li span {
    width: 20%;
  }

  .monthly_top_filter button:last-child {
    margin-right: 10px;
  }

  .preloader {
    height: 65vh;
  }

  .home_2 header {
    top: 0 !important;
  }

  .home_2 .wsus__mobile_menu_icon {
    border: 1px solid #fff;
  }

  .home_2 .wsus__mobile_menu_icon:hover {
    border-color: #2a9cf5;
  }

  .home_2 #wsus__banner {
    margin-top: 60px;
  }

  .home_2 .wsus__single_banner_content {
    margin-bottom: 0;
  }

  .home_2 #wsus__banner .col-xl-5.ps-lg-0 .col-xl-12.col-sm-6 {
    padding: 0;
  }

  .home_2 .simply-countdown {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wsus__flash_sell_2 .simply-section.simply-days-section,
  .wsus__flash_sell_2 .simply-section.simply-hours-section,
  .wsus__flash_sell_2 .simply-section.simply-minutes-section,
  .wsus__flash_sell_2 .simply-section.simply-seconds-section {
    margin-bottom: 15px;
  }

  #wsus__single_banner {
    padding-top: 65px;
  }

  .home_2 #wsus__hot_deals .nxt_arr,
  .home_2 #wsus__hot_deals .prv_arr {
    top: -1px;
  }

  .wsus__hot_deals_2 .simply-word {
    font-size: 10px;
    margin-top: 5px;
    display: block;
  }

  .wsus__single_blog_2 .wsus__blog_text_center a {
    color: #353535;
    font-size: 20px;
  }

  .home_2_single_banner .banner_1 {
    height: 350px;
  }

  .home_2 #wsus__weekly_best .nxt_arr,
  .home_2 #wsus__weekly_best .prv_arr {
    top: -21px;
  }

  .home2_wsus__weekly_best_2 .wsus__section_header {
    margin-bottom: 20px;
  }

  .home_service_single_2 {
    border-left: 0;
    border-top: 1px solid #b0d8ff;
    margin-bottom: 55px;
  }

  .home_service_single_2.border_left {
    border: none;
    border-top: 1px solid #b0d8ff;
  }

  .home_service_single_2 .wsus__home_services_single h5 {
    margin-top: 25px;
  }

  .home_2 .home_blogs {
    padding-top: 8px !important;
  }

  .home_2 header .dropdown .nav-link {
    display: none;
  }

  .home_2 header .wsus__icon_area li:last-child {
    display: inline-block;
  }

  .home_2 header .wsus__icon_area {
    width: 100%;
  }

  .home_2 header .wsus__cart_icon {
    margin-top: 12px;
  }

  .home_2 .footer_payment img {
    width: 100%;
  }

  .wsus__order_details {
    margin-top: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  /* TOPBAR START */
  #wsus__topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  /* HEADER SRART */
  header {
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0;
    background: var(--accent-color);
    z-index: 999;
    border: none;
  }

  .wsus_logo_area {
    text-align: center;
  }

  .wsus__header_logo {
    width: 120px;
    line-height: 60px;
    margin-left: 15px;
  }

  .wsus__header_logo img {
    width: 60px !important;
  }

  .wsus__call_area {
    display: none;
  }

  .wsus__icon_area {
    width: 100%;
  }

  .wsus__mobile_menu {
    display: block;
  }

  .wsus__icon_area li {
    margin-left: 0;
  }

  .wsus__icon_area li a {
    display: none;
    line-height: 30px;
  }

  .wsus__cart_icon {
    display: block !important;
    margin-top: 15px;
  }

  .wsus__mini_cart ul {
    max-height: 450px;
  }

  .wsus__mini_cart .wsus__cart_img {
    width: 80px;
    height: 75px;
  }

  .wsus__mini_cart .wsus__cart_text {
    margin-left: 10px;
  }

  .wsus__mini_cart .wsus__cart_text a {
    font-size: 13px;
    margin-top: 0px;
  }

  .wsus__mini_cart .wsus__cart_text p {
    margin-top: 5px;
  }

  /* POPUP START */
  .wsus__pop_up_center {
    width: 90%;
    padding: 30px;
  }

  .wsus__pop_up_text p {
    margin-bottom: 10px;
    font-size: 14px;
    width: 70%;
  }

  .wsus__pop_up_text {
    width: 100%;
  }

  .wsus__pop_up_text h5 {
    font-size: 16px;
  }

  .wsus__pop_up_text h5 span {
    font-size: 20px;
  }

  .wsus__pop_up_text h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  /* BANNER START */
  #wsus__banner {
    margin-top: 60px;
  }

  .wsus__single_slider {
    padding: 40px 30px;
    height: 300px;
  }

  .wsus__single_slider_text h3 {
    font-size: 18px;
  }

  .wsus__single_slider_text h1 {
    font-size: 30px;
  }

  .wsus__single_slider_text h6 {
    margin-bottom: 15px;
  }

  .wsus__flash_coundown {
    justify-content: center;
    padding: 20px 10px;
    flex-direction: column;
  }

  .wsus__hot_deals__single_text h5 {
    font-size: 14px;
  }

  .wsus__product_details .wsus__pro_name {
    font-size: 15px;
  }

  .ClassyCountdown-value {
    font-size: 25px !important;
  }

  .wsus__flash_coundown .end_text {
    margin-right: 0;
    margin-bottom: 15px;
  }

  #countdown17 {
    margin-bottom: 10px;
  }

  .monthly_top_filter button,
  .monthly_top_filter2 button {
    font-size: 13px;
  }

  .monthly_top_filter,
  .monthly_top_filter2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .wsus__section_header {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
  }

  .wsus__section_header h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #wsus__weekly_best .wsus__section_header h3 {
    font-size: 16px;
  }

  .see_btn {
    font-size: 12px;
    margin-bottom: 20px !important;
  }

  .see_btn i {
    top: 8px;
  }

  .simply-amount {
    font-size: 12px;
    line-height: 15px;
  }

  .wsus__single_banner_img {
    width: 100%;
    height: 100%;
  }

  .wsus__single_banner_img img {
    height: 100% !important;
    object-fit: cover !important;
  }

  .wsus__single_banner_content {
    height: 150px;
    margin-bottom: 30px;
  }

  .wsus__pro_name {
    margin-bottom: 5px;
  }

  .single_banner_2 {
    margin-bottom: 0;
  }

  .wsus__hot_deals__single_img {
    width: 30% !important;
  }

  .wsus__hot_deals__single_text .wsus__tk {
    font-size: 13px;
  }

  #wsus__hot_deals .nxt_arr,
  #wsus__hot_deals .prv_arr {
    top: -21px;
  }

  .hot_deals_slider {
    margin-top: 20px;
  }

  .wsus__hot_deals__single_text {
    width: 70% !important;
    margin-top: 0px;
    padding-left: 15px !important;
  }

  .wsus__hot_deals__single_text .wsus__rating {
    font-size: 12px;
    margin: 0;
  }

  .wsus__home_services_single {
    padding: 30px 15px;
    margin-bottom: 25px;
  }

  .home_blogs {
    margin-top: 0;
  }

  .wsus__large_banner_text_right {
    text-align: left !important;
    margin-top: 40px;
  }

  .wsus__large_banner_text h3 {
    font-size: 20px;
  }

  .wsus__large_banner_content_overlay {
    padding: 20px;
  }

  #wsus__weekly_best {
    margin-top: 0;
  }

  .weekly_best {
    margin-top: 24px;
  }

  #wsus__weekly_best .wsus__section_header {
    margin-top: 60px;
  }

  .wsus__footer_content img {
    width: 120px;
  }

  .wsus__footer_content p {
    margin: 10px 0px 12px 0px;
  }

  .wsus__footer_content {
    margin-bottom: 35px;
  }

  .wsus__footer_content h5 {
    margin-bottom: 5px;
  }

  .wsus__footer_menu li a {
    font-size: 14px;
  }

  .wsus__footer_bottom {
    padding: 20px 0px;
    margin-top: 30px;
  }

  .wsus__copyright {
    display: block;
  }

  .wsus__copyright p {
    font-size: 12px;
    text-align: center;
  }

  .wsus__copyright p img {
    margin-left: 0;
    margin-top: 10px;
  }

  .product_popup_modal .modal-dialog {
    min-width: 500px;
  }

  .product_popup_modal .modal-body {
    height: 550px;
    padding-left: 20px;
  }

  .wsus__quick_view_img {
    margin-bottom: 15px;
  }

  .wsus__quick_view_img .slick-list {
    height: auto;
  }

  .wsus__quentity {
    flex-wrap: wrap;
  }

  .wsus__pro_details_text h4 {
    font-size: 25px;
  }

  .product_popup_modal .btn-close {
    right: 6px;
  }

  /* BREADCRUMB START */
  #wsus__breadcrumb {
    margin-top: 60px;
  }

  .wsus_breadcrumb_overlay {
    padding: 40px 0px;
  }

  #wsus__breadcrumb h4 {
    font-size: 25px;
  }

  #wsus__breadcrumb ul {
    margin-top: 10px;
  }

  #wsus__breadcrumb ul li a {
    font-size: 14px;
  }

  /* PRODUCT DETAILS PAGE START */
  .wsus__pro_details_text .title {
    font-size: 20px;
    margin-top: 25px;
  }

  .report_modal .btn-close {
    right: 10px;
  }

  .wsus__pro_det_description .nav .nav-item {
    width: 33.33%;
  }

  .des_img {
    margin-top: 30px;
  }

  .wsus__vendor_details {
    margin-top: 0;
  }

  /* PRODUCT GRID VIEW START */
  .wsus__sidebar_filter {
    display: flex;
  }

  .wsus__product_sidebar.show_filter {
    margin-top: 25px;
  }

  .wsus__product_sidebar {
    height: 0;
    opacity: 0;
  }

  .wsus__pro_page_bammer {
    height: 200px;
  }

  /* VENDOR DETAILS */
  .wsus__vendor_det_banner_text .wsus__vendor_text_center {
    width: 100%;
  }

  .vendor_det_banner {
    height: 350px !important;
  }

  .wsus__vendor_det_banner_text {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(2px);
  }

  /* ABOUT PAGE START */

  /* BLOG DETAILS START */
  .wsus__main_blog_header span {
    margin: 5px;
    display: inline-block;
    font-size: 14px;
  }

  .wsus__main_blog h2 {
    font-size: 20px;
    margin: 15px 0px 15px 0px;
  }

  .wsus__blog_img {
    height: 180px;
  }

  .wsus__main_blog h5,
  .wsus__related_post h5,
  .wsus__comment_area h4,
  .wsus__post_comment h4,
  .wsus__blog_search h4,
  .wsus__blog_category h4,
  .wsus__blog_post h4,
  .wsus__forget_area h4,
  .wsus__change_password h4 {
    font-size: 20px;
  }

  .wsus__comment_img {
    width: 15% !important;
  }

  .wsus__comment_text {
    width: 85% !important;
    padding-left: 15px;
  }

  .wsus__comment_img img {
    width: 75px !important;
    height: 75px !important;
  }

  .wsus__comment_text h6 {
    font-size: 15px;
  }

  .wsus__comment_text p {
    font-size: 14px;
  }

  .wsus__blog_sidebar {
    margin-top: 30px;
  }

  .calendar header {
    top: 0;
  }

  .wsus__blog_post_img {
    width: 20%;
  }

  .wsus__blog_post_text {
    width: 80%;
    padding-left: 20px;
    margin-top: 25px;
  }

  .wsus__blog_text_center a {
    font-size: 14px;
  }

  /* 404 PAGE START */

  /* CART EMPTY PAGE START */
  .cart_empty p {
    text-transform: capitalize;
    font-size: 22px;
  }

  /* CART VIEW PAGE START */

  .wsus__cart_list table tr th {
    font-size: 14px;
  }

  .wsus__cart_list .wsus__pro_img {
    width: 100px !important;
  }

  .wsus__cart_list .wsus__pro_name {
    margin-bottom: 0px;
  }

  .wsus__cart_list .wsus__pro_name {
    width: 260px;
  }

  .wsus__cart_list table tbody tr td p {
    font-size: 15px;
  }

  .wsus__cart_list .wsus__pro_select {
    width: 150px;
  }

  .wsus__cart_list .wsus__pro_tk {
    width: 130px;
  }

  .wsus__cart_list .wsus__pro_icon {
    width: 120px;
  }

  .wsus__cart_list_footer_button {
    margin-top: 30px;
  }

  /* CHECK-OUT PAGE START */
  .wsus__order_details .form-check label {
    font-size: 14px;
  }

  /* COMPARE PAGE START */

  /* CONTACT PAGE START */
  .wsus__contact_single h5 {
    font-size: 16px;
  }

  .wsus__contact_single {
    margin-bottom: 5px;
  }

  #wsus__contact hr {
    margin: 50px 0px 57px 0px;
  }

  /* DAILE DEALS DETAILS */

  .wsus__offer_countdown {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .wsus__offer_countdown .simply-amount {
    font-size: 12px;
    line-height: 27px;
  }

  /* DAILE DEALS DETAILS */

  /* FAQ PAGE START */

  /* FORGET PASSWORD START */
  .wsus__forget_area {
    margin-bottom: 30px;
  }

  .wsus__forget_area .see_btn {
    margin-bottom: 0 !important;
    font-size: 16px !important;
  }

  /* INVOICE PAGE START */
  .wsus__invoice_description {
    margin-top: 55px;
  }

  .wsus__invoice_description .images {
    width: 115px;
  }

  .wsus__invoice_description .name {
    width: 250px;
  }

  .wsus__invoice_description .amount {
    width: 100px;
  }

  .wsus__invoice_description .quentity {
    width: 100px;
  }

  .wsus__invoice_description .total {
    width: 100px;
  }

  /* LOGIN PAGE START */
  .wsus__login_reg_area {
    margin-bottom: 30px;
  }

  /* PAYMENT PAGE START */
  #v-pills-tab {
    flex-direction: inherit !important;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .wsus__pay_info_area .nav-pills .nav-link {
    width: 49%;
    padding: 10px 0px;
    font-size: 12px;
  }

  .wsus__pay_info_area .tab-pane {
    margin-bottom: 30px;
  }

  .wsus__pay_info_area p {
    font-size: 13px;
  }

  .wsus__pay_info_area ul li {
    font-size: 13px;
  }

  /* PRIVACY POLICY START */

  /* PRODUCT CATEGORY START */
  .wsus__product_topbar {
    flex-direction: column;
  }

  /* TEAM DTAILS START */

  /* TRACK ORDER START */
  .tack_form {
    margin-bottom: 20px;
  }

  .wsus__track_header_single {
    margin-top: 20px;
    border: 0;
  }

  .progtrckr li {
    width: 50%;
    margin-bottom: 45px;
    font-size: 14px;
  }

  .progtrckr {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wsus__track_area .common_btn {
    width: 100%;
    text-align: center;
  }

  .wsus__track_header_single h5 {
    font-size: 16px;
  }

  .wsus__track_header_single p {
    font-size: 14px;
  }

  /* VENDOR PAGE START */
  .wsus__vendor_single {
    height: 250px;
  }

  /* WISHLIST PAGE START */
  .wishlist .wsus__pro_img a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }

  .wishlist .common_btn {
    font-size: 12px;
  }

  /* DASHBOARD PAGE START */
  .dashboard_sidebar {
    width: 270px;
    margin-left: -270px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
  }

  .close_icon {
    display: block;
  }

  .dashboard_sidebar.show_dash_menu {
    margin-left: 0;
  }

  .wsusd__dashboard_user img {
    width: 35px;
    height: 35px;
  }

  .wsusd__dashboard_user p {
    font-size: 16px;
  }

  .wsus__dashboard_menu {
    padding: 2.5px 20px;
  }

  #wsus__dashboard {
    padding: 20px 0px 10px 0px;
  }

  .wsus__dashboard_item p {
    font-size: 13px;
  }

  .wsus__dashboard_item i {
    font-size: 22px;
    margin: 0;
  }

  .wsus__dashboard_item {
    padding: 10px;
  }

  .dashboard_content .wsus__invoice_area {
    margin-top: 10px;
    padding: 20px;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .add_address_btn {
    margin: 0;
  }

  .wsus__dash_add_single ul li span {
    width: 30%;
  }

  .monthly_top_filter button:last-child {
    margin-right: 10px;
  }

  .preloader {
    height: 65vh;
  }

  .home_2 header {
    top: 0 !important;
  }

  .home_2 .wsus__mobile_menu_icon {
    border: 1px solid #fff;
  }

  .home_2 .wsus__mobile_menu_icon:hover {
    border-color: #2a9cf5;
  }

  .home_2 #wsus__banner {
    margin-top: 60px;
  }

  .home_2 .wsus__single_banner_content {
    margin-bottom: 0;
  }

  .home_2 #wsus__banner .col-xl-5.ps-lg-0 .col-xl-12.col-sm-6 {
    padding: 0;
  }

  .home_2 .simply-countdown {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wsus__flash_sell_2 .simply-section.simply-days-section,
  .wsus__flash_sell_2 .simply-section.simply-hours-section,
  .wsus__flash_sell_2 .simply-section.simply-minutes-section,
  .wsus__flash_sell_2 .simply-section.simply-seconds-section {
    margin-bottom: 15px;
  }

  .home_2 .monthly_top_filter button,
  .home_2 .monthly_top_filter2 button {
    margin: 4px 5px;
    font-size: 13px;
  }

  #wsus__single_banner {
    padding-top: 65px;
  }

  .home_2 #wsus__hot_deals .nxt_arr,
  .home_2 #wsus__hot_deals .prv_arr {
    top: -1px;
  }

  .wsus__hot_deals_2 .simply-word {
    font-size: 10px;
    margin-top: 5px;
    display: block;
  }

  .home_2_single_banner .banner_1 {
    height: 350px;
  }

  .home_2 #wsus__weekly_best .nxt_arr,
  .home_2 #wsus__weekly_best .prv_arr {
    top: -21px;
  }

  .home2_wsus__weekly_best_2 .wsus__section_header {
    margin-bottom: 20px;
  }

  .wsus__home_services_single h5 {
    margin-top: 10px;
  }

  .home_service_single_2 {
    border-left: 0;
    border-top: 1px solid #b0d8ff;
  }

  .home_service_single_2.border_left {
    border: none;
    border-top: 1px solid #b0d8ff;
  }

  .home_service_single_2 .wsus__home_services_single h5 {
    margin-top: 25px;
  }

  .home_2 .home_blogs {
    padding-top: 8px !important;
  }

  .home_2 header .dropdown .nav-link {
    display: none;
  }

  .home_2 header .wsus__icon_area li {
    display: none;
  }

  .home_2 header .wsus__icon_area li:last-child {
    display: inline-block;
  }

  .home_2 header .wsus__icon_area {
    width: 100%;
  }

  .home_2 header .wsus__cart_icon {
    margin-top: 12px;
  }

  .home_2 .footer_payment img {
    width: 100%;
  }

  .home_2 .wsus__footer_content_2 h3 {
    font-size: 19px;
  }

  #wsus__hot_deals {
    padding-top: 36px;
  }

  .wsus__order_details {
    margin-top: 25px;
  }
}

@media (max-width: 575.99px) {
  /* TOPBAR START */
  #wsus__topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  /* HEADER SRART */
  header {
    height: 60px;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0;
    background: var(--accent-color);
    z-index: 999;
    border: none;
  }

  .wsus_logo_area {
    text-align: center;
  }

  .wsus__header_logo {
    width: 120px;
    line-height: 60px;
    margin-left: 15px;
  }

  .wsus__header_logo img {
    width: 60px !important;
    margin-top: -2px !important;
  }

  .wsus__call_area {
    display: none;
  }

  .wsus__icon_area {
    width: 100%;
  }

  .wsus__mobile_menu {
    display: block;
  }

  .wsus__icon_area li {
    margin-left: 0;
  }

  .wsus__icon_area li a {
    display: none;
  }

  .wsus__cart_icon {
    display: block !important;
    margin-top: 15px;
  }

  .wsus__mini_cart {
    width: 315px;
  }

  .wsus__mini_cart .wsus__cart_img {
    height: 65px;
  }

  .wsus__mini_cart .wsus__cart_text {
    margin-left: 10px;
    width: 178px;
  }

  .wsus__mini_cart .wsus__cart_text a {
    font-size: 12px;
  }

  .wsus__mini_cart ul {
    max-height: 420px;
  }

  .wsus__minicart_btn_area .common_btn {
    padding: 7px 13px;
    font-size: 13px;
  }

  /* POPUP START */
  .wsus__pop_up_center {
    width: 90%;
    padding: 15px;
  }

  .wsus__pop_up_text {
    width: 100%;
  }

  .wsus__pop_up_text h5 {
    font-size: 16px;
  }

  .wsus__pop_up_text h5 span {
    font-size: 20px;
  }

  .wsus__pop_up_text h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .wsus__pop_up_text p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  /* BANNER START */
  #wsus__banner {
    margin-top: 60px;
  }

  .wsus__single_slider {
    padding: 40px 30px;
    height: 300px;
  }

  .wsus__single_slider_text h3 {
    font-size: 18px;
  }

  .wsus__single_slider_text h1 {
    font-size: 30px;
  }

  .wsus__single_slider_text h6 {
    margin-bottom: 15px;
  }

  .wsus__flash_coundown {
    justify-content: center;
    padding: 20px;
    flex-direction: column;
  }

  .ClassyCountdown-value {
    font-size: 23px !important;
  }

  .wsus__flash_coundown .end_text {
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 25px;
  }

  #countdown17 {
    margin-bottom: 10px;
  }

  .monthly_top_filter button,
  .monthly_top_filter2 button {
    font-size: 13px;
  }

  .monthly_top_filter,
  .monthly_top_filter2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .wsus__section_header {
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
  }

  .wsus__section_header h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .see_btn {
    font-size: 12px;
    margin-bottom: 20px !important;
  }

  .see_btn i {
    top: 8px;
  }

  .simply-amount {
    font-size: 12px;
    line-height: 15px;
  }

  .simply-days-section,
  .simply-hours-section,
  .simply-minutes-section,
  .simply-seconds-section {
    padding: 0px 5px;
  }

  .wsus__single_banner_img {
    width: 100%;
    height: 100%;
  }

  .wsus__single_banner_img img {
    height: 100% !important;
    object-fit: cover !important;
  }

  .wsus__single_banner_content {
    height: 150px !important;
    margin-bottom: 30px;
  }

  .wsus__pro_name {
    margin-bottom: 5px;
  }

  .single_banner_2 {
    margin-bottom: 0;
  }

  .wsus__hot_deals__single_img {
    width: 30% !important;
  }

  .wsus__hot_deals__single_text .wsus__tk {
    font-size: 13px;
  }

  #wsus__hot_deals .nxt_arr,
  #wsus__hot_deals .prv_arr {
    top: -21px;
  }

  .hot_deals_slider {
    margin-top: 20px;
  }

  .wsus__hot_deals__single_text {
    width: 70% !important;
    margin-top: 0px;
    padding-left: 15px !important;
  }

  .wsus__hot_deals__single_text .wsus__rating {
    font-size: 12px;
    margin: 0;
  }

  .wsus__home_services_single {
    padding: 30px 10px;
    margin-bottom: 25px;
  }

  .home_blogs {
    margin-top: 0;
  }

  .wsus__large_banner_text_right {
    text-align: left !important;
    margin-top: 40px;
  }

  .wsus__large_banner_text h3 {
    font-size: 20px;
  }

  .wsus__large_banner_content_overlay {
    padding: 20px;
  }

  #wsus__weekly_best {
    margin-top: 10px;
  }

  .weekly_best {
    margin-top: 24px;
  }

  #wsus__weekly_best .wsus__section_header {
    margin-top: 60px;
  }

  .wsus__footer_content img {
    width: 120px;
  }

  .wsus__footer_content p {
    margin: 10px 0px 12px 0px;
  }

  .wsus__footer_content {
    margin-bottom: 35px;
  }

  .wsus__footer_content h5 {
    margin-bottom: 5px;
  }

  .wsus__footer_menu li a {
    font-size: 14px;
  }

  .wsus__footer_bottom {
    padding: 20px 0px;
    margin-top: 30px;
  }

  .wsus__copyright {
    display: block;
  }

  .wsus__copyright p {
    font-size: 12px;
    text-align: center;
  }

  .wsus__copyright p img {
    margin-left: 0;
    margin-top: 10px;
  }

  .product_popup_modal .modal-dialog {
    min-width: 95%;
  }

  .share_link {
    flex-direction: column;
    align-items: start;
  }

  .share_link h5,
  .wsus__quentity h5,
  .wsus__button_area h5,
  .wsus__quentity h5,
  .wsus__selectbox h5 {
    width: auto;
    margin-right: 10px;
  }

  .wsus__quentity {
    flex-wrap: wrap;
  }

  .wsus__quentity h3 {
    font-size: 18px;
    margin-left: 5px;
  }

  .wsus__quentity button {
    font-size: 16px;
  }

  .wsus__quentity .nice-number input {
    font-size: 16px;
  }

  .wsus__pro_details_text .title {
    font-size: 20px;
    margin-top: 25px;
  }

  .wsus__pro_details_text h4 {
    font-size: 25px;
  }

  .wsus__button_area li .add_cart {
    padding: 10px 10px;
    font-size: 12px;
    margin-right: 5px;
  }

  .wsus__button_area li:nth-child(3) a,
  .wsus__button_area li:nth-child(4) a {
    margin-left: 5px;
  }

  .wsus__selectbox .select2-container {
    margin-bottom: 10px;
  }

  .wsus__selectbox {
    display: block;
    margin-bottom: 0 !important;
  }

  .wsus__button_area {
    margin-top: 0px;
  }

  .wsus__button_area li .buy_now {
    padding: 10px;
    font-size: 11px;
  }

  .product_popup_modal .display {
    display: none;
  }

  .product_popup_modal .modal-body {
    height: 510px;
    padding-left: 15px;
  }

  /* PRODUCT GRID VIEW */
  #wsus__breadcrumb {
    margin-top: 60px;
  }

  .wsus_breadcrumb_overlay {
    padding: 40px 0px;
  }

  #wsus__breadcrumb h4 {
    font-size: 25px;
  }

  #wsus__breadcrumb ul {
    margin-top: 10px;
  }

  #wsus__breadcrumb ul li a {
    font-size: 14px;
  }

  .wsus__pro_page_bammer {
    height: 200px;
  }

  .wsus__sidebar_filter {
    display: flex;
  }

  .wsus__product_sidebar {
    height: 0;
    opacity: 0;
    padding: 0;
  }

  .wsus__product_sidebar.show_filter {
    margin-top: 25px;
  }

  .wsus__pro_det_description .nav .nav-item {
    width: 50%;
  }

  .wsus__pro_det_review .wsus__comment_img img {
    height: 55px;
  }

  .wsus__pro_det_review .wsus__comment_text ul li {
    margin-bottom: 10px;
  }

  .wsus__pro_det_vendor_text p span {
    width: auto;
  }

  .wsus__vendor_details {
    margin-top: 0;
  }

  .wsus__pro_det_review .wsus__main_comment {
    padding: 10px 10px 10px 10px;
  }

  .wsus__comment_text a {
    margin-top: 0;
  }

  .wsus__post_comment button {
    padding: 10px;
  }

  .accordion-button {
    font-size: 14px;
    text-align: left !important;
  }

  /* VENDOR DETAILS */
  .wsus__vendor_det_banner_text .wsus__vendor_text_center {
    width: 100%;
  }

  .vendor_det_banner {
    height: 400px !important;
  }

  .wsus__vendor_det_banner_text {
    background: rgba(17, 24, 39, 0.8);
    backdrop-filter: blur(2px);
  }

  /* ABOUT PAGE START */

  /* BLOG DETAILS START */
  .wsus__main_blog_header span {
    margin: 5px 0px;
    display: block;
  }

  .wsus__main_blog h2 {
    font-size: 20px;
    margin: 15px 0px 15px 0px;
  }

  .wsus__main_blog h5,
  .wsus__related_post h5,
  .wsus__comment_area h4,
  .wsus__post_comment h4,
  .wsus__blog_search h4,
  .wsus__blog_category h4,
  .wsus__blog_post h4,
  .wsus__forget_area h4,
  .wsus__change_password h4 {
    font-size: 20px;
  }

  .wsus__comment_img {
    width: 20% !important;
  }

  .wsus__comment_text {
    width: 80% !important;
    padding-left: 15px;
  }

  .wsus__comment_text h6 {
    font-size: 15px;
  }

  .wsus__comment_text p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .wsus__pro_det_description .nav .nav-item button {
    font-size: 14px;
  }

  .wsus__blog_sidebar {
    margin-top: 30px;
  }

  .calendar header {
    top: 0;
  }

  .wsus__blog_post_text a {
    font-size: 13px;
  }

  /* 404 PAGE START */

  /* CART EMPTY PAGE START */
  .cart_empty p {
    text-transform: capitalize;
    font-size: 22px;
  }

  /* CART VIEW PAGE START */

  .wsus__cart_list table tr th {
    font-size: 14px;
  }

  .wsus__cart_list .wsus__pro_img {
    width: 100px;
  }

  .wsus__cart_list .wsus__pro_name {
    width: 200px;
    margin-bottom: 0px;
  }

  .wsus__cart_list table tbody tr td p {
    font-size: 15px;
  }

  .wsus__cart_list .wsus__pro_select {
    width: 150px !important;
  }

  .wsus__cart_list .wsus__pro_tk {
    width: 130px !important;
  }

  .wsus__cart_list .wsus__pro_icon {
    width: 120px !important;
  }

  .wsus__cart_list_footer_button {
    margin-top: 30px;
  }

  /* CHANGE PASSWORD */
  .wsus__change_password {
    padding: 20px;
  }

  /* CHECK-OUT PAGE START */
  .wsus__order_details {
    padding: 15px;
    margin-top: 25px;
  }

  .wsus__order_details .form-check label {
    font-size: 13px;
  }

  /* COMPARE PAGE START */

  /* CONTACT PAGE START */

  .wsus__contact_single h5 {
    font-size: 16px;
  }

  .wsus__contact_single {
    margin-bottom: 5px;
  }

  #wsus__contact hr {
    margin: 50px 0px 57px 0px;
  }

  /* DAILE DEALS DETAILS */

  .wsus__offer_countdown {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .wsus__offer_countdown .simply-amount {
    font-size: 12px;
    line-height: 27px;
  }

  .wsus__offer_countdown .simply-days-section,
  .wsus__offer_countdown .simply-hours-section,
  .wsus__offer_countdown .simply-minutes-section,
  .wsus__offer_countdown .simply-seconds-section {
    margin-left: 0;
  }

  .wsus__offer_countdown .end_text {
    margin-bottom: 5px;
  }

  /* FAQ PAGE START */

  /* FORGET PASSWORD START */
  .wsus__forget_area {
    margin-bottom: 30px;
    padding: 15px;
  }

  .wsus__forget_area .see_btn {
    margin-bottom: 0 !important;
    font-size: 16px !important;
  }

  /* INVOICE PAGE START */
  .wsus__invoice_area {
    padding: 20px;
  }

  .wsus__invoice_description {
    margin-top: 55px;
  }

  .wsus__invoice_description .images {
    width: 115px;
  }

  .wsus__invoice_description .name {
    width: 250px;
  }

  .wsus__invoice_description .amount {
    width: 100px;
  }

  .wsus__invoice_description .quentity {
    width: 100px;
  }

  .wsus__invoice_description .total {
    width: 100px;
  }

  .wsus__invoice_footer {
    padding: 10px;
  }

  .wsus__invoice_footer p {
    font-size: 14px;
  }

  .wsus__invoice_footer p span {
    font-size: 14px;
    width: 115px;
  }

  /* LOGIN PAGE START */
  .wsus__login_reg_area {
    padding: 15px;
    margin-bottom: 30px;
  }

  .form-check label {
    font-size: 12px;
  }

  .wsus__login .forget_p {
    font-size: 12px;
  }

  /* PAYMENT PAGE START */
  #v-pills-tab {
    flex-direction: inherit !important;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .wsus__pay_info_area .nav-pills .nav-link {
    width: 49%;
    padding: 10px 0px;
    font-size: 12px;
  }

  .wsus__pay_info_area .tab-pane {
    padding: 10px;
    margin-bottom: 30px;
  }

  .wsus__payment_area form {
    padding: 10px;
  }

  .wsus__pay_info_area p {
    font-size: 13px;
  }

  .wsus__pay_info_area ul li {
    font-size: 13px;
  }

  /* PRIVACY POLICY START */

  /* PRODUCT CATEGORY START */
  .wsus__product_topbar {
    flex-direction: column;
  }

  /* TEAM DTAILS START */

  /* TRACK ORDER START */
  .tack_form {
    padding: 15px;
    margin-bottom: 20px;
  }

  .wsus__track_header_single {
    margin-top: 20px;
    border: 0;
  }

  .progtrckr li {
    width: 100%;
    margin-bottom: 45px;
  }

  .progtrckr {
    margin: 50px 0px 0px 0px;
  }

  .wsus__track_area .common_btn {
    width: 100%;
    text-align: center;
  }

  /* VENDOR PAGE START */
  .wsus__vendor_single {
    height: 250px;
  }

  /* WISHLIST PAGE START */
  .wishlist .wsus__pro_img a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
  }

  .wishlist .common_btn {
    font-size: 12px;
  }

  /* DASHBOARD PAGE START */
  .dashboard_sidebar {
    width: 270px;
    margin-left: -270px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
  }

  .close_icon {
    display: block;
  }

  .dashboard_sidebar.show_dash_menu {
    margin-left: 0;
  }

  .wsusd__dashboard_user img {
    width: 35px;
    height: 35px;
  }

  .wsusd__dashboard_user p {
    font-size: 16px;
  }

  .wsus__dashboard_menu {
    padding: 2.5px 20px;
  }

  #wsus__dashboard {
    padding: 10px 0px 10px 0px;
  }

  .wsus__dashboard_item p {
    font-size: 13px;
  }

  .wsus__dashboard_item i {
    font-size: 22px;
    margin: 0;
  }

  .wsus__dashboard_item {
    padding: 10px;
  }

  .description_single {
    padding: 10px;
  }

  .dashboard_content .wsus__invoice_area {
    margin-top: 10px;
  }

  #wsus__dashboard .wsus__pro_img {
    width: 120px;
  }

  .wsus__dash_pro_area,
  .wsus__dashboard_add {
    padding: 15px;
  }

  .wsus__dash_add_single ul li span {
    font-size: 13px;
    width: 100%;
  }

  .wsus__dash_add_single ul li {
    font-size: 13px;
  }

  .wsus__dash_add_single {
    margin-bottom: 30px;
  }

  .wsus__dash_add_single h4 {
    font-size: 16px;
  }

  .add_address_btn {
    font-size: 13px;
    margin: 0;
  }

  .monthly_top_filter button:last-child {
    margin-right: 10px;
  }

  .preloader img {
    height: 290px !important;
  }

  .preloader {
    height: 60vh;
  }

  .home_2 header {
    top: 0 !important;
  }

  .home_2 .wsus__mobile_menu_icon {
    border: 1px solid #fff;
  }

  .home_2 .wsus__mobile_menu_icon:hover {
    border-color: #2a9cf5;
  }

  .home_2 #wsus__banner {
    margin-top: 60px;
  }

  .home_2 .wsus__single_banner_content {
    margin-bottom: 0;
  }

  .home_2 .simply-countdown {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wsus__flash_sell_2 .simply-section.simply-days-section,
  .wsus__flash_sell_2 .simply-section.simply-hours-section,
  .wsus__flash_sell_2 .simply-section.simply-minutes-section,
  .wsus__flash_sell_2 .simply-section.simply-seconds-section {
    margin-bottom: 15px;
  }

  .home_2 .monthly_top_filter button,
  .home_2 .monthly_top_filter2 button {
    margin: 4px 5px;
  }

  #wsus__single_banner {
    padding-top: 65px;
  }

  .home_2 #wsus__hot_deals .nxt_arr,
  .home_2 #wsus__hot_deals .prv_arr {
    top: -1px;
  }

  .wsus__hot_deals_2 .simply-word {
    font-size: 10px;
    margin-top: 5px;
    display: block;
  }

  .home_2_single_banner .banner_1 {
    height: 350px !important;
  }

  .home_2 #wsus__weekly_best .nxt_arr,
  .home_2 #wsus__weekly_best .prv_arr {
    top: -21px;
  }

  .home2_wsus__weekly_best_2 .wsus__section_header {
    margin-bottom: 20px;
  }

  .home_service_single_2 {
    border-right: 0;
    border-top: 1px solid #b0d8ff;
    padding: 50px 0px 30px 0px !important;
    border-left: 0;
  }

  .home_service_single_2.border_left {
    border: none;
    border-top: 1px solid #b0d8ff;
  }

  .home_service_single_2 .wsus__home_services_single h5 {
    margin-top: 25px;
  }

  .home_2 .home_blogs {
    padding-top: 8px !important;
  }

  .home_2 header .dropdown .nav-link {
    display: none;
  }

  .home_2 header .wsus__icon_area li {
    display: none;
  }

  .home_2 header .wsus__icon_area li:last-child {
    display: inline-block;
  }

  .home_2 header .wsus__icon_area {
    width: 100%;
  }

  .home_2 header .wsus__cart_icon {
    margin-top: 12px;
  }

  .home_2 .footer_payment img {
    width: 100%;
  }

  #wsus__brand_sleder .nxt_arr {
    right: 7px;
  }

  #wsus__brand_sleder .prv_arr {
    left: 7px;
  }

  #wsus__hot_deals {
    padding-top: 36px;
  }

  .wsus__product_details .wsus__pro_name {
    font-size: 15px;
  }

  .wsus__blog_img {
    height: 200px;
  }

  .wsus__checkout_single_address ul li span {
    width: 100%;
  }
}
